* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

#mocha {
    width: 30rem;
    margin: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    margin: 5rem 0.5rem 2rem;
}

.calc {
    width: 254px;
	height: fit-content;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
}

.calc-screen {
    margin-bottom: 10px;
}

.input-screen {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-align: right;
    border-radius: 5px;
    background-color: #fbfbfb;
}

.buttons-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.calc-btn {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 2px 0;
    cursor: pointer;
}

.btn-del {
    padding-bottom: 5px;
}

.calc-btn:not(:disabled):hover {
    background-color: #cfcfcf;
}

.zero-btn {
    width: 104px;
}

@media (max-width: 770px) {
    .wrapper {
        justify-content: center;
    }
    #mocha {
        margin: 5rem 0.5rem 2rem;
    }
}
