* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@border-radius: 5px;
@btn-numbers-bg: #f1f3f4;
@btn-numbers-hover-bg: saturate(darken(@btn-numbers-bg, 3%), 10%);
@btn-color: #d7d9dd;
@btn-hover-color: darken(@btn-color, 4%);
@btn-after-bg: darken(@btn-color, 15%);

.wrapper {
    display: flex;
    flex-wrap: wrap;

    #mocha {
        width: 30rem;
        margin: 5rem;
    }

    .container {
        display: flex;
        justify-content: center;
        margin: 5rem 0.5rem 2rem;

        .calc {
            width: 638px;
            min-width: 254px;
            height: fit-content;
            padding: 20px;
            border: 1px solid lightgray;
            border-radius: @border-radius;
            background-color: #e6e6e6;

            .calc__screen-block {
                margin-bottom: 10px;

                .input-screen {
                    width: 100%;
                    padding: 10px;
                    font-size: 18px;
                    text-align: right;
                    border-radius: @border-radius;
                    background-color: #fbfbfb;
                }
            }

            .calc__btn-block {
                display: flex;
                justify-content: space-around;

                .btn-block__algebra,
                .btn-block__math-functions {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
    
                    .calc-btn {
                        width: 80px;
                        height: 40px;
                        margin: 2px 0;
                        font-size: 18px;
                        border: none;
                        outline: none;
                        border-radius: @border-radius;
                        background-color: @btn-color;
                        cursor: pointer;

                        &[data-button-type="number"] {
                            background-color: @btn-numbers-bg;

                            &:hover {
                                background-color: @btn-numbers-hover-bg!important;
                            }
                        }

                        &:not(:disabled):hover {
                            background-color: @btn-hover-color;
                        }
                    }

                    .zero-btn {
                        width: 164px;
                    }
                }

                .btn-block__math-functions {
                    position: relative;

                    &:before {
                        content: 'n';
                        display: block;
                        position: absolute; 
                        bottom: 22px;
                        right: 28px;
                        cursor: pointer;
                    }

                    .btn-select-block {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        position: relative;
                        margin: 2px 0;
                        min-width: 164px;
                        background-color: @btn-color;
                        border-radius: @border-radius;
                        border: 1px solid @btn-color;

                        &:hover {
                            background-color: @btn-hover-color;
                        }

                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 3px;
                            height: 20px;
                            border-radius: @border-radius;
                            background-color: @btn-after-bg;
                            top: 10px;
                            left: 50%;
                        }

                        [type="radio"] {
                            display: none;
                        }

                        label {
                            font-size: 18px;
                            cursor: pointer;
                        }

                        .btn-disabled {
                            color: darkgray;
                        }

                        .calc-btn {
                            flex: 1;
                            margin: 0;
                            background-color: none;
                            border-radius: none;

                            &:hover {
                                background-color: @btn-hover-color;
                            }
                        }
                    }
                }

                .btn-block__algebra {
                    
                    .btn-del {
                        padding-bottom: 5px;
                    }               
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .wrapper {
        justify-content: center;
    }
    #mocha {
        margin: 5rem 0.5rem 2rem;
    }
}
