* {
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    list-style: none;
}


.wrapper {
    margin: 50px auto;
    max-width: 350px;
}

.form {
    display: flex;
    justify-content: space-between;
}

.new-task {
    min-width: 250px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

.add-btn {
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 10px;
}

.list {
    margin-top: 40px;
}