* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

.container {
    display: flex;
    margin: 50px;
    justify-content: center;

    .table {
        margin-right: 50px;
        padding: 2px;
        border: 3px solid black;

        th,
        td {
            border: 1px solid black;
            padding: 5px 10px;
        }

        tr:not(:nth-child(1)) {
            cursor: pointer;
        }
    }

    .task-form {
        display: flex;

        .input__style {
            display: block;
            margin-bottom: 20px;
            padding: 5px;
        }
    }

    .task-form__btn {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .btn__style {
            display: inline-block;
            margin-bottom: 20px;
            padding: 5px 20px;
            cursor: pointer;
        }
    }

    
}