* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 14px;
}

.main {
    max-width: 1470px;
    margin: 50px auto;
    text-align: center;
}

.main__info-block {
    margin: 5rem 1rem;
}

.info-title {
    margin-bottom: 20px;
}

.info-textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    resize: none;
}

.info-btn {
    min-width: 200px;
    padding: 10px 50px;
    color: white;
    background-color: #0053c1;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.info-btn:hover {
    background-color: #186ddb;
}

.info-btn:active {
    background-color: #0063e4;
}

.main__nesting-block {
    visibility: hidden;
    margin: 0 auto;
    max-width: 80%;
    text-align: left;
}

.nesting-style {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: #cac1eb;
    border: 2px solid #7660cc;
}

.nesting-bg-orange {
    background-color: #eeb7a7;
    border: 2px solid #fa975d;
}

.nesting-title__block {
    margin-bottom: 20px;
    font-weight: bold;
}

.nesting-pointer {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.nesting-values {
    display: none;
}