* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

input,
button {
    outline: none;
}

.container {
    max-width: 1470px;
    height: 100%;
    margin: 50px auto;

    .login-block,
    .login {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 200px auto;
        padding: 30px 20px;    
        border: 1px solid darkgray;
        border-radius: 5px;

        &__input-name {  
            width: 100%;
            margin: 15px 0 30px;
            padding: 10px;
            font-size: 14px;
            border-radius: 5px;
        }

        &__enter-btn {
            padding: 10px 40px;
            border-radius: 5px;
            font-weight: bold;
        }

        &__enter-btn {
            cursor: pointer;
        }

        label {
            align-self: flex-start;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .wrapper {
        display: none;
        justify-content: space-around;
        padding: 30px;
        border: 1px solid black;

        .users-block {
            width: 350px;
            padding: 20px 30px;
            border: 1px solid black;
            text-align: center;
            font-size: 16px;
            overflow-y: auto;
        }

        .conversation-block {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 20px;
        }
    }
}

.conversation__fild {
    height: 20vw;
    padding: 20px;
    border: 1px solid black;
    overflow-y: auto;

    div {
        margin-bottom: 10px;
    }
}

.form {
    display: flex;
    align-items: center;
    margin-top: 30px;

    &__input-message {
        width: -webkit-fill-available;
        padding: 10px;
    }

    &__send-btn {
        width: 170px;
        padding: 10px;
    }
}

.user__user-style  {
    background: white;

    .user-status {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 10px;
        background-color: green;
        border-radius: 50%;
    }
}
.chat-block,
.chat {
    width: 350px;
    padding: 20px 30px;
    border: 1px solid #000;
    text-align: center;
    font-size: 16px;
    overflow-y: auto;

    .chat-list {
        &__li {
            cursor: pointer;
        }
    
        &__li--active-chat {
            display: block;
            font-weight: bold;
        }
    }

    &__add-chat {
        display: flex;
        flex-direction: column;

        input {
            margin-top: 15px;
            padding: 10px;
        }
    }
}


